# Configuration file for STS monitoring of Dell OMSA quantities
# Written by Russell Kackley and David Cook - 13 July 2011
#
# Monitor CPU load
CPU 755
#
# Monitor disk space
DISK 756 /
DISK 757 /boot
DISK 758 /usr
DISK 759 /tmp
DISK 760 /var
DISK 761 /home2
#
# g2s2 Dell OMSA log file written by omsa_logger.py
FILE /gen2/logs/g2s2_OMSA.lnk
DATA BOTTOM
WAIT 60
SKIP #
#
# Overall System Status
LINE 'g2s2: Overall Status'22      DT(1,19,%y-%m-%dT%H:%M:%S) D762(F5, %l) D763(F6, %c)
#
# Power Group
LINE 'Amperage Probe Table'22      DT(1,19,%y-%m-%dT%H:%M:%S) D764(F7, %l) D765(F8, %c)
LINE 'PS 1 Current 1'22            DT(1,19,%y-%m-%dT%H:%M:%S) P766('Reading: ',%f)
LINE 'PS 2 Current 2'22            DT(1,19,%y-%m-%dT%H:%M:%S) P767('Reading: ',%f)
LINE 'System Board System Level'22 DT(1,19,%y-%m-%dT%H:%M:%S) P768('Reading: ',%f)
LINE 'Power Unit Table'22          DT(1,19,%y-%m-%dT%H:%M:%S) D769(F7,%l) D770(F8,%c)
LINE 'Chassis Power Supply Table'22 DT(1,19,%y-%m-%dT%H:%M:%S) D771(F8,%l) D772(F9,%c)
LINE 'PS 1 Status'22               DT(1,19,%y-%m-%dT%H:%M:%S) P773('Output: ',%f)
LINE 'PS 2 Status'22               DT(1,19,%y-%m-%dT%H:%M:%S) P774('Output: ',%f)
LINE 'Voltage Probe Table'22       DT(1,19,%y-%m-%dT%H:%M:%S) D775(F7,%l) D776(F8,%c)
LINE 'PS 1 Voltage 1'22            DT(1,19,%y-%m-%dT%H:%M:%S) P777('Reading: ',%f)
LINE 'PS 2 Voltage 2'22            DT(1,19,%y-%m-%dT%H:%M:%S) P778('Reading: ',%f)
LINE 'Chassis Battery Table'22     DT(1,19,%y-%m-%dT%H:%M:%S) D779(F7,%l) D780(F8,%c)
#
# Thermal Group
LINE 'Chassis Temperature Probe Table'22 DT(1,19,%y-%m-%dT%H:%M:%S) D781(F8,%l) D782(F9,%c)
LINE 'System Board Ambient Temp'22 DT(1,19,%y-%m-%dT%H:%M:%S) P783('Reading: ',%f)
LINE 'Cooling Unit Table'22        DT(1,19,%y-%m-%dT%H:%M:%S) D784(F7,%l) D785(F8,%c)
LINE 'Cooling Device Table'22      DT(1,19,%y-%m-%dT%H:%M:%S) D786(F7,%l) D787(F8,%c)
LINE 'System Board FAN 1 RPM'22    DT(1,19,%y-%m-%dT%H:%M:%S) P788('Reading: ',%f)
LINE 'System Board FAN 2 RPM'22    DT(1,19,%y-%m-%dT%H:%M:%S) P789('Reading: ',%f)
LINE 'System Board FAN 3 RPM'22    DT(1,19,%y-%m-%dT%H:%M:%S) P790('Reading: ',%f)
LINE 'System Board FAN 4 RPM'22    DT(1,19,%y-%m-%dT%H:%M:%S) P791('Reading: ',%f)
LINE 'System Board FAN 5 RPM'22    DT(1,19,%y-%m-%dT%H:%M:%S) P792('Reading: ',%f)
LINE 'System Board FAN 6 RPM'22    DT(1,19,%y-%m-%dT%H:%M:%S) P793('Reading: ',%f)
#
# Memory Group
LINE 'Memory Group'22              DT(1,19,%y-%m-%dT%H:%M:%S) D794(F6,%l) D795(F7,%c)
#
# Storage Management Group
LINE 'Logical Devices Group'22     DT(1,19,%y-%m-%dT%H:%M:%S) D796(F7,%l) D797(F8,%c)
LINE 'Global Data Table'22         DT(1,19,%y-%m-%dT%H:%M:%S) D798(F7,%l) D799(F8,%c)
LINE 'Physical Devices Group'22    DT(1,19,%y-%m-%dT%H:%M:%S) D800(F7,%l) D801(F8,%c)
#
# Device Group
LINE 'Memory Device Table'22       DT(1,19,%y-%m-%dT%H:%M:%S) D802(F7,%l) D803(F8,%c)
LINE 'PCI Device Table'22          DT(1,19,%y-%m-%dT%H:%M:%S) D804(F7,%l) D805(F8,%c) 
END
