# Configuration file for STS monitoring of Dell OMSA quantities
# Written by Russell Kackley and David Cook - 24 June 2011
#
# Monitor CPU load
CPU 855
#
# Monitor disk space
DISK 856 /
DISK 857 /boot
DISK 858 /usr
DISK 859 /tmp
DISK 860 /var
DISK 861 /home2
#
# g2s4 Dell OMSA log file written by omsa_logger.py
FILE /gen2/logs/g2s4_OMSA.lnk
DATA BOTTOM
WAIT 60
SKIP #
#
# Overall System Status
LINE 'g2s4: Overall Status'22      DT(1,19,%y-%m-%dT%H:%M:%S) D862(F5, %l) D863(F6, %c)
#
# Power Group
LINE 'Amperage Probe Table'22      DT(1,19,%y-%m-%dT%H:%M:%S) D864(F7, %l) D865(F8, %c)
LINE 'PS 1 Current 1'22            DT(1,19,%y-%m-%dT%H:%M:%S) P866('Reading: ',%f)
LINE 'PS 2 Current 2'22            DT(1,19,%y-%m-%dT%H:%M:%S) P867('Reading: ',%f)
LINE 'System Board System Level'22 DT(1,19,%y-%m-%dT%H:%M:%S) P868('Reading: ',%f)
LINE 'Power Unit Table'22          DT(1,19,%y-%m-%dT%H:%M:%S) D869(F7,%l) D870(F8,%c)
LINE 'Chassis Power Supply Table'22 DT(1,19,%y-%m-%dT%H:%M:%S) D871(F8,%l) D872(F9,%c)
LINE 'PS 1 Status'22               DT(1,19,%y-%m-%dT%H:%M:%S) P873('Output: ',%f)
LINE 'PS 2 Status'22               DT(1,19,%y-%m-%dT%H:%M:%S) P874('Output: ',%f)
LINE 'Voltage Probe Table'22       DT(1,19,%y-%m-%dT%H:%M:%S) D875(F7,%l) D876(F8,%c)
LINE 'PS 1 Voltage 1'22            DT(1,19,%y-%m-%dT%H:%M:%S) P877('Reading: ',%f)
LINE 'PS 2 Voltage 2'22            DT(1,19,%y-%m-%dT%H:%M:%S) P878('Reading: ',%f)
LINE 'Chassis Battery Table'22     DT(1,19,%y-%m-%dT%H:%M:%S) D879(F7,%l) D880(F8,%c)
#
# Thermal Group
LINE 'Chassis Temperature Probe Table'22 DT(1,19,%y-%m-%dT%H:%M:%S) D881(F8,%l) D882(F9,%c)
LINE 'System Board Ambient Temp'22 DT(1,19,%y-%m-%dT%H:%M:%S) P883('Reading: ',%f)
LINE 'Cooling Unit Table'22        DT(1,19,%y-%m-%dT%H:%M:%S) D884(F7,%l) D885(F8,%c)
LINE 'Cooling Device Table'22      DT(1,19,%y-%m-%dT%H:%M:%S) D886(F7,%l) D887(F8,%c)
LINE 'System Board FAN 1 RPM'22    DT(1,19,%y-%m-%dT%H:%M:%S) P888('Reading: ',%f)
LINE 'System Board FAN 2 RPM'22    DT(1,19,%y-%m-%dT%H:%M:%S) P889('Reading: ',%f)
LINE 'System Board FAN 3 RPM'22    DT(1,19,%y-%m-%dT%H:%M:%S) P890('Reading: ',%f)
LINE 'System Board FAN 4 RPM'22    DT(1,19,%y-%m-%dT%H:%M:%S) P891('Reading: ',%f)
#
# Memory Group
LINE 'Memory Group'22              DT(1,19,%y-%m-%dT%H:%M:%S) D892(F6,%l) D893(F7,%c)
#
# Storage Management Group
LINE 'Logical Devices Group'22     DT(1,19,%y-%m-%dT%H:%M:%S) D894(F7,%l) D895(F8,%c)
LINE 'Global Data Table'22         DT(1,19,%y-%m-%dT%H:%M:%S) D896(F7,%l) D897(F8,%c)
LINE 'Physical Devices Group'22    DT(1,19,%y-%m-%dT%H:%M:%S) D898(F7,%l) D899(F8,%c)
#
# Device Group
LINE 'Memory Device Table'22       DT(1,19,%y-%m-%dT%H:%M:%S) D900(F7,%l) D901(F8,%c)
LINE 'PCI Device Table'22          DT(1,19,%y-%m-%dT%H:%M:%S) D902(F7,%l) D903(F8,%c) 
END
