<html>
<head>
   <title> Subaru LTCS Program</title>

   <meta HTTP-EQUIV="Refresh" CONTENT=%(update)d>
   <meta name="robots" content="noindex,nofollow">

</head>
<body bgcolor="#42426f" text="#FFFFFF" link="BLACK" vlink="navy" alink="RED" >

<pre>
TIMESTAMP1    = %(timestamp)s
TELESCOPE     = %(telescope)s
LASER_IMPACTED= %(laserimpacted)s 
LASER_STATE   = %(laserstate)s
LOG_DATA      = %(logdata)s
EQUINOX       = %(equinox)-14.1f
RA            = %(ra)-14.4f
DEC           = %(dec)-14.4f
FOV           = %(fov)-14.4f
TIMESTAMP2    = %(timestamp)s
</pre>
</body>
</html>
